.operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem 6.4rem;
  align-items: stretch;

  &__accordion {
    &:not(:last-child) {
      border-bottom: 2px solid var(--color-primary-light-two);
      padding-bottom: 2.4rem;
      margin-bottom: 3.2rem;
    }
  }

  &__heading {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-white-dark);
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      color: var(--color-grey-dark);
    }

    &--active {
      color: var(--color-grey-dark);
    }
  }

  &__content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;

    &--active {
      height: auto;
      opacity: 1;
    }
  }

  &__subheading {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 2.4rem 0;
    color: var(--color-grey-dark);
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-grey);
  }

  &__img {
    width: 100%;
    border-radius: var(--b-radius-11);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;

    &--active {
      height: auto;
      opacity: 1;
    }
  }

  &__photo {
    width: 100%;
    margin-top: 3.2rem;
    border-radius: var(--b-radius-11);
    display: none;
  }
}
