.testimonial {
  display: grid;
  grid-template-columns: 25rem 1fr;
  column-gap: 4.8rem;
  align-items: center;

  @include responsive(phone) {
    grid-template-columns: 1fr;
  }

  &__author {
    font-style: normal;

    @include responsive(phone) {
      display: grid;
      grid-template-columns: 6.5rem 1fr;
      align-items: center;
      column-gap: 2.4rem;
    }
  }

  &__photo-small {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
    display: none;

    @include responsive(phone) {
      display: block;
    }
  }

  &__img {
    position: relative;

    @include responsive(phone) {
      display: none;
    }
  }

  &__photo {
    max-width: 25rem;
    max-height: 37.5rem;
    width: 100%;
    height: auto;
    border-radius: var(--b-radius);
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    color: var(--color-primary);
    align-self: end;

    @include responsive(phone) {
      margin-bottom: 0;
    }
  }

  &__location {
    font-size: 1.6rem;
    color: var(--color-primary-light);
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    position: relative;

    &::after {
      content: '\201C';
      display: inline-block;
      font-family: sans-serif;
      position: absolute;
      top: -6rem;
      left: 0;
      font-size: 15rem;
      line-height: 1;
      color: var(--color-primary-light);
      opacity: 0.7;
      z-index: -10;

      @include responsive(tab-portrait) {
        display: none;
      }
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
