*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16 = 0.625 * 100 = 62.5%
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include responsive(big-desktop) {
    font-size: 80%;
  }

  @include responsive(tab-landscape) {
    font-size: 56.25%;
  }

  @include responsive(tab-portrait) {
    font-size: 50%;
  }
}

body {
  background-color: var(--color-white);
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  transition: var(--transition);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-white-light);
}
