*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16 = 0.625 * 100 = 62.5%
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-white-light);
}
