.mb-xs {
  margin-bottom: 1.6rem;
}

.mb-sm {
  margin-bottom: 2.4rem;
}

.mb-md {
  margin-bottom: 3.2rem;
}

.mb-lg {
  margin-bottom: 4.8rem;
}

.mb-xl {
  margin-bottom: 9.6rem;
}

.ml-md {
  margin-left: 3.2rem;
}

.t-center {
  text-align: center;
}

strong {
  font-weight: 600;
}
