:root {
  --color-primary: #5f3dc4;
  --color-primary-light: #8f77d6;
  --color-grey: #787878;
  --color-grey-dark: #424242;
  --nav-height: 9.6rem;
  --transition: all 0.3s;

  --b-radius: 0.5rem;
  --b-radius-11: 1.1rem;
  --b-radius-round: 50%;
}
