:root {
  --color-primary: #5f3dc4;
  --color-primary-light: #8f77d6;
  --color-primary-light-two: #e5dbff;
  --color-primary-dark: #4c319d;
  --color-black: #212227;
  --color-white: #fff;
  --color-white-dark: #ced4da;
  --color-white-light: #f8f7f9;
  --color-grey: #787878;
  --color-grey-dark: #424242;
  --color-red: #e03131;
  --max-width: 120rem;
  --max-width-sm: 100rem;
  --nav-height: 9.6rem;
  --transition: all 0.3s;

  --b-radius: 0.5rem;
  --b-radius-11: 1.1rem;
  --b-radius-round: 50%;
}
