:root {
  --color-primary: #5f3dc4;
  --color-primary-light: #8f77d6;
  --color-primary-light-two: #e5dbff;
  --color-primary-dark: #4c319d;
  --color-black: #212227;
  --color-white: #fff;
  --color-white-dark: #ced4da;
  --color-white-light: #f8f7f9;
  --color-grey: #787878;
  --color-grey-dark: #424242;
  --color-red: #e03131;
  --max-width: 120rem;
  --max-width-sm: 100rem;
  --nav-height: 9.6rem;
  --transition: all 0.3s;
  --b-radius: 0.5rem;
  --b-radius-11: 1.1rem;
  --b-radius-round: 50%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  75% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  75% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: var(--color-white); }

main {
  position: relative; }

a {
  text-decoration: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  transition: var(--transition); }

.hidden {
  visibility: hidden;
  opacity: 0; }

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-white-light); }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444; }

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.1;
  animation: moveInLeft 1.5s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 5.2rem; } }
  .heading-primary span {
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0.5px; }

.subheading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-light));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.mb-xs {
  margin-bottom: 1.6rem; }

.mb-sm {
  margin-bottom: 2.4rem; }

.mb-md {
  margin-bottom: 3.2rem; }

.mb-lg {
  margin-bottom: 4.8rem; }

.mb-xl {
  margin-bottom: 9.6rem; }

.ml-md {
  margin-left: 3.2rem; }

.t-center {
  text-align: center; }

strong {
  font-weight: 600; }

.btn, .btn:link, .btn:visited, .btn--primary {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: var(--b-radius);
  transition: var(--transition); }

.btn, .btn:link, .btn:visited {
  display: inline-flex;
  align-items: center;
  text-decoration: none; }

.btn--primary {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  cursor: pointer; }
  .btn--primary:hover {
    background-color: var(--color-primary-dark);
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.07); }

.btn--outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-black);
  cursor: pointer;
  animation: moveInBottom 0.5s ease; }
  .btn--outline:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 1.2rem rgba(95, 61, 196, 0.5);
    color: var(--color-white-light); }

.btn--normal {
  color: var(--color-primary);
  animation: moveInBottom 1s ease;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .btn--normal:hover {
    color: var(--color-primary-light); }

.btn--sm {
  padding: 0.8rem 1.6rem; }

.btn--md {
  padding: 1.2rem 2.4rem; }

.btn--lg {
  padding: 1.6rem 3.2rem; }

.btn__icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.3rem;
  fill: currentColor;
  transition: margin-left 0.3s; }

.btn:hover .btn__icon {
  margin-left: 1rem; }

.btn:not(:last-child) {
  margin-right: 2.4rem; }

.feature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 9.6rem 6.4rem;
  align-items: center; }
  .feature:not(:last-child) {
    margin-bottom: 9.6rem; }
  .feature__img {
    width: 100%;
    border-radius: var(--b-radius-11); }
  .feature__header {
    display: flex;
    align-items: center;
    column-gap: 2.4rem; }
  .feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    background-color: var(--color-primary-light-two);
    padding: 1.6rem;
    border-radius: var(--b-radius-round); }
    .feature__icon svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--color-primary); }
  .feature__title {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 700;
    color: var(--color-grey-dark); }
  .feature__description {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-grey); }
  .feature__lazy-img {
    filter: blur(1rem); }

.input__label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem; }

.input__form {
  width: 100%;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-white-dark);
  border-radius: var(--b-radius); }
  .input__form:focus {
    outline: none;
    box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.03);
    border-bottom: 3px solid var(--color-primary); }
  .input__form:focus:invalid {
    border-bottom: 3px solid var(--color-red); }

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }
  .list__item {
    display: flex;
    align-items: center;
    gap: 1.6rem; }
  .list__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-primary); }
  .list__text {
    font-size: 1.6rem;
    line-height: 1.6; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem;
  background-color: var(--color-white);
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.05);
  border-radius: var(--b-radius-11);
  z-index: 9999;
  transition: var(--transition); }
  .modal__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.4rem 3.2rem;
    gap: 3.2rem;
    border-bottom: 1px solid var(--color-white-dark); }
  .modal__close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    align-self: flex-start; }
  .modal__close-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-grey);
    transition: var(--transition); }
    .modal__close-icon:hover {
      fill: var(--color-grey-dark); }
  .modal__title {
    font-size: 2rem;
    font-weight: 500; }
  .modal__subheading {
    font-size: 1.4rem;
    line-height: 1.4;
    max-width: 40rem; }
  .modal__body {
    padding: 2.4rem 3.2rem; }
  .modal__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    gap: 2.4rem; }
  .modal__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2.4rem 3.2rem;
    margin-left: auto; }

.operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem 6.4rem;
  align-items: stretch; }
  .operations__accordion:not(:last-child) {
    border-bottom: 2px solid var(--color-primary-light-two);
    padding-bottom: 2.4rem;
    margin-bottom: 3.2rem; }
  .operations__heading {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-white-dark);
    transition: var(--transition);
    cursor: pointer; }
    .operations__heading:hover {
      color: var(--color-grey-dark); }
    .operations__heading--active {
      color: var(--color-grey-dark); }
  .operations__content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out; }
    .operations__content--active {
      height: auto;
      opacity: 1; }
  .operations__subheading {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 2.4rem 0;
    color: var(--color-grey-dark); }
  .operations__description {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-grey); }
  .operations__img {
    width: 100%;
    border-radius: var(--b-radius-11);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out; }
    .operations__img--active {
      height: auto;
      opacity: 1; }
  .operations__photo {
    width: 100%;
    margin-top: 3.2rem;
    border-radius: var(--b-radius-11);
    display: none; }

.slider {
  max-width: 100rem;
  margin: 0 auto;
  height: 50rem;
  position: relative;
  overflow: hidden; }
  .slider__controls {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 1.2rem; }
  .slider__btn {
    width: 4.8rem;
    height: 4.8rem;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    z-index: 10;
    color: var(--color-grey); }
    .slider__btn:hover {
      background-color: var(--color-primary);
      color: var(--color-white-light); }
  .slider__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s; }

.testimonial {
  display: grid;
  grid-template-columns: 25rem 1fr;
  column-gap: 4.8rem;
  align-items: center; }
  .testimonial__author {
    font-style: normal; }
  .testimonial__photo-small {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
    display: none; }
  .testimonial__img {
    position: relative; }
  .testimonial__photo {
    max-width: 25rem;
    max-height: 37.5rem;
    width: 100%;
    height: auto;
    border-radius: var(--b-radius); }
  .testimonial__name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    color: var(--color-primary);
    align-self: end; }
  .testimonial__location {
    font-size: 1.6rem;
    color: var(--color-primary-light); }
  .testimonial__heading {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    position: relative; }
    .testimonial__heading::after {
      content: '\201C';
      display: inline-block;
      font-family: sans-serif;
      position: absolute;
      top: -6rem;
      left: 0;
      font-size: 15rem;
      line-height: 1;
      color: var(--color-primary-light);
      opacity: 0.7;
      z-index: -10; }
  .testimonial__text {
    font-size: 1.6rem;
    line-height: 1.6; }

.footer {
  background-color: var(--color-white-light);
  padding: 9.6rem 0; }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 2.5fr repeat(3, 1fr);
    gap: 9.6rem 6.4rem;
    padding-bottom: 4.8rem;
    border-bottom: 1px solid var(--color-primary-light-two); }
  .footer__logo {
    font-size: 2rem;
    text-transform: uppercase;
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-light));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .footer__social {
    list-style: none;
    display: flex;
    gap: 1.6rem; }
  .footer__social-item:link, .footer__social-item:visited {
    display: inline-block;
    background-color: var(--color-primary);
    padding: 1.2rem;
    border-radius: 100%;
    transition: var(--transition); }
  .footer__social-item:hover {
    background-color: var(--color-primary-dark);
    transform: translateY(-0.3rem); }
  .footer__social-icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-white-light); }
  .footer__description {
    font-size: 1.4rem;
    line-height: 1.4; }
  .footer__header {
    font-size: 1.6rem;
    font-weight: 500; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.4;
    color: var(--color-grey-dark);
    transition: var(--transition); }
  .footer__link:hover {
    color: var(--color-primary); }
  .footer__bottom {
    margin-top: 2.4rem; }
  .footer__copyright {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: var(--nav-height);
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 0 3.2rem; } }
  .header__logo {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-light));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .header__menu-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 4.8rem;
    height: 4.8rem;
    display: none;
    z-index: 100; }
    @media only screen and (max-width: 56.25em) {
      .header__menu-btn {
        display: flex;
        align-items: center;
        justify-content: center; } }
    .header__menu-btn.active .header__menu-line {
      background-color: transparent; }
    .header__menu-btn.active .header__menu-line::before {
      top: 0;
      transform: rotate(135deg); }
    .header__menu-btn.active .header__menu-line::after {
      top: 0;
      transform: rotate(-135deg); }
  .header__menu-line {
    position: relative; }
    .header__menu-line, .header__menu-line::before, .header__menu-line::after {
      display: inline-block;
      height: 2px;
      background-color: var(--color-grey-dark); }
    .header__menu-line {
      width: 2.3rem; }
    .header__menu-line::before, .header__menu-line::after {
      content: '';
      position: absolute;
      width: 3rem;
      right: 0;
      transition: var(--transition); }
    .header__menu-line::before {
      top: -0.7rem; }
    .header__menu-line::after {
      top: 0.7rem; }

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem 6.4rem; }
  .hero__img {
    width: 60%; }
  .hero__img-box {
    display: flex;
    justify-content: end;
    position: relative;
    animation: moveInRight 1.8s cubic-bezier(0.23, 1, 0.32, 1); }
    .hero__img-box::before, .hero__img-box::after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .hero__img-box::before {
      width: 60%;
      height: 60%;
      padding-bottom: 60%;
      border: 2px solid rgba(208, 191, 255, 0.7);
      z-index: -1; }
    .hero__img-box::after {
      width: 45%;
      height: 45%;
      padding-bottom: 45%;
      background-color: rgba(208, 191, 255, 0.7);
      z-index: -2; }
  .hero__description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey);
    animation: moveInLeft 1.7s ease-in-out; }

.container, .container-sm {
  margin: 0 auto;
  padding: 0 3.2rem; }

.container {
  max-width: var(--max-width); }

.container-sm {
  max-width: var(--max-width-sm); }

.d-grid {
  display: grid;
  gap: 9.6rem 6.4rem; }

.grid-col--2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col--4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-center-v {
  align-items: center; }

.grid-center-h {
  justify-content: center; }

.navigation__link:link, .navigation__link:visited, .navigation__btn:link, .navigation__btn:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition); }

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center; }

.navigation__link:link, .navigation__link:visited {
  color: var(--color-grey);
  position: relative; }

.navigation__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-primary);
  transition: var(--transition); }

.navigation__link:hover {
  color: var(--color-primary-light); }
  .navigation__link:hover:after {
    width: 100%; }

.navigation__btn:link, .navigation__btn:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: var(--b-radius);
  transition: var(--transition); }

.navigation__btn:hover {
  background-color: var(--color-primary-dark);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.07);
  transform: translateY(-0.4rem); }

.navigation__btn:active {
  transform: translateY(0); }

.navigation__item:not(:last-child) {
  margin-right: 4.8rem; }

.section-hero {
  padding: 4.8rem 0 8rem 0; }

.section {
  padding: 12.8rem 0 9.6rem 0; }
  .section--bg {
    background-color: var(--color-white-light); }
  .section--signup {
    padding: 9.6rem 0;
    text-align: center; }
