:root {
  --color-primary: #5f3dc4;
  --color-primary-light: #8f77d6;
  --color-grey: #787878;
  --color-grey-dark: #424242;
  --nav-height: 9.6rem;
  --transition: all 0.3s;
  --b-radius: 0.5rem;
  --b-radius-11: 1.1rem;
  --b-radius-round: 50%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background-color: #fff; }

a {
  text-decoration: none; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: var(--nav-height);
  margin: 0 auto;
  position: relative; }
  .header__logo {
    font-size: 2rem;
    font-weight: 800;
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-light));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase; }

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);
  color: var(--color-grey);
  position: relative; }

.navigation__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-primary);
  transition: var(--transition); }

.navigation__link:hover {
  color: var(--color-primary-light); }
  .navigation__link:hover:after {
    width: 100%; }

.navigation__item:not(:last-child) {
  margin-right: 4.8rem; }
