.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem 6.4rem;

  &__img {
    width: 60%;
  }

  &__img-box {
    display: flex;
    justify-content: end;
    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      border-radius: 50%;
      @include absCenter;
    }

    &::before {
      width: 60%;
      height: 60%;
      padding-bottom: 60%;
      border: 2px solid rgba(#d0bfff, 0.7);
      z-index: -1;
    }

    &::after {
      width: 45%;
      height: 45%;
      padding-bottom: 45%;
      background-color: rgba(#d0bfff, 0.7);
      z-index: -2;
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
  }

  &__textbox {
  }
}
