.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem 6.4rem;

  @include responsive(tab-small) {
    grid-template-columns: 1fr;
    gap: 6.4rem 4.8rem;
  }

  &__img {
    width: 60%;

    @include responsive(tab-small) {
      width: 30%;
    }
  }

  &__img-box {
    display: flex;
    justify-content: flex-end;
    position: relative;
    animation: moveInRight 1.8s cubic-bezier(0.23, 1, 0.32, 1);

    @include responsive(tab-small) {
      grid-row: 2;
      justify-content: center;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      border-radius: 50%;
      @include absCenter;
    }

    &::before {
      width: 60%;
      height: 60%;
      padding-bottom: 60%;
      border: 2px solid rgba(#d0bfff, 0.7);
      z-index: -1;

      @include responsive(tab-small) {
        width: 35%;
        height: 35%;
        padding-bottom: 35%;
      }
    }

    &::after {
      width: 45%;
      height: 45%;
      padding-bottom: 45%;
      background-color: rgba(#d0bfff, 0.7);
      z-index: -2;

      @include responsive(tab-small) {
        width: 25%;
        height: 25%;
        padding-bottom: 25%;
      }
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey);
    animation: moveInLeft 1.7s ease-in-out;
  }

  &__textbox {
    @include responsive(tab-small) {
      text-align: center;
    }
  }
}
