%container-placeholder {
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container {
  max-width: var(--max-width);
  @extend %container-placeholder;
}

.container-sm {
  max-width: var(--max-width-sm);
  @extend %container-placeholder;
}

.d-grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}

.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col--4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.grid-center-h {
  justify-content: center;
}
