%nav-placeholder {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition);

  @include responsive(tab-portrait) {
    font-size: 3rem;
  }

  @include responsive(phone-xs) {
    font-size: 2.4rem;
  }
}

.navigation {
  @include responsive(tab-portrait) {
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    z-index: 5;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &__open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;

    @include responsive(tab-portrait) {
      flex-direction: column;
      gap: 4.8rem;
    }
  }

  //Link
  &__link {
    &:link,
    &:visited {
      @extend %nav-placeholder;
      color: var(--color-grey);
      position: relative;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      border-radius: 1px;
      background-color: var(--color-primary);
      transition: var(--transition);
    }

    &:hover {
      color: var(--color-primary-light);

      &:after {
        width: 100%;
      }
    }
  }

  //Button Link
  &__btn {
    &:link,
    &:visited {
      @extend %nav-placeholder;
      background-color: var(--color-primary);
      color: var(--color-white);
      padding: 1.2rem 2.4rem;
      border-radius: var(--b-radius);
      transition: var(--transition);
    }

    &:hover {
      background-color: var(--color-primary-dark);
      box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.07);
      transform: translateY(-0.4rem);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4.8rem;

      @include responsive(tab-portrait) {
        margin-right: 0;
      }
    }
  }
}
