.section-hero {
  padding: 4.8rem 0 8rem 0;
}

.section {
  padding: 12.8rem 0 9.6rem 0;

  &--bg {
    background-color: var(--color-white-light);
  }

  &--signup {
    padding: 9.6rem 0;
    text-align: center;
  }
}
