.section-hero {
  padding: 4.8rem 0 8rem 0;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
}

.section-signup {
  padding: 9.6rem 0;
  text-align: center;
}

.section {
  padding: 12.8rem 0 9.6rem 0;
  transition: transform 1s, opacity 1s;

  &--bg {
    background-color: var(--color-white-light);
  }

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}
